<!DOCTYPE html>

<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">

        <h1>Chat App</h1>

    </div>

    {{!-- <script src="index.js"></script> --}}
</body>

</html>